@using APIMonitor.Models
@using CommonLib;
@model ApplicationErrorModel
@{
    var applicationError = new ApplicationErrorModel();
    applicationError.ListAllErrors = Model?.ListAllErrors ?? new();
    applicationError.ListDisplayErrors = Model?.ListDisplayErrors ?? new();
    applicationError.PageIndexApplicationError = Model?.PageIndexApplicationError;
    applicationError.PageIndexMaxpplicationError = Model?.PageIndexMaxpplicationError;
    var RecordInPage = ConfigData.RecordInPage;
}
<div class="border-css" style="overflow-y:auto;">
    <table class="tablelist">
        <thead>
            <tr>
                <th width="10%">No</th>
                <th>Error</th>
                <th width="10%">Detail</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in applicationError.ListDisplayErrors.Select((data, index) => new { data, index }))
            {
                <tr>
                    <td class="number text-center">@((Model?.PageIndexApplicationError - 1) * RecordInPage + item.index + 1)</td>
                    <td style="text-align:left;white-space:break-spaces;width:200px">@item.data.MethodName - @item.data.ThreadName</td>
                    <td style="text-align:left">
                        <button class="btn btn-link" style="color:#fff" data-id="@item.index" onclick="GetDetailApplicationError('@((Model?.PageIndexApplicationError - 1) * RecordInPage + item.index)')">
                            <i class="far fa-eye"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (applicationError != null && applicationError.ListDisplayErrors.Count > 0)
{
    <div class="pagination d-flex" style="border:0; border-radius: 0 0 16px 16px;">
        <span class="d-flex justify-content-start align-items-center w-100">@applicationError.ListDisplayErrors.Count bản ghi/trang</span>
        <div class="box__action d-flex justify-content-center align-items-center">
            <div class="box__action d-flex">
                <button class="btn btn-link" style="color:#fff" onclick="GetListApplicationErrorByPage(1)">&lt;&lt;</button>
            </div>
            <div class="box__action d-flex">
                <button class="btn btn-link @(applicationError.PageIndexApplicationError > 1 ? "": "disabled")"
                        style="color:#fff" onclick="GetListApplicationErrorByPage(@applicationError.PageIndexApplicationError - 1)">
                    &lt;
                </button>
            </div>
            <div class="box__action d-flex px-1 mt-1">
                <span>@applicationError.PageIndexApplicationError/@applicationError.PageIndexMaxpplicationError</span>
            </div>
            <div class="box__action d-flex">
                <button class="btn btn-link @(applicationError.PageIndexApplicationError < applicationError.PageIndexMaxpplicationError ? "" : "disabled")"
                        style="color:#fff" onclick="GetListApplicationErrorByPage(@applicationError.PageIndexApplicationError + 1)">
                    &gt;
                </button>
            </div>
            <div class="box__action d-flex">
                <button class="btn btn-link" style="color:#fff" onclick="GetListApplicationErrorByPage(@applicationError.PageIndexMaxpplicationError)">&gt;&gt;</button>
            </div>
        </div>
    </div>
}
<div id="overlay" class="overlay"></div>
<div id="popup" class="popup">
    <div class="popup-header">
        <span>Error Detail</span>
        <span class="close-btn">&times;</span>
    </div>
    <div id="popup-data"></div>
</div>
<style>    
    table {
        text-align: left;
        position: relative;
        border-collapse: collapse;
    }

    tbody tr td button:hover {
        text-decoration: none;
    }
    th, td {
        padding: 0.25rem;
        border: 1px solid #f0f0f0
    }

    th {
        background: white;
        position: sticky;
        top: 0;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    }
    .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        background: #212b36;
        border: 1px solid rgba(145, 158, 171, 0.24);
        border-radius: 16px;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 1;
    }

    .popup-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        box-sizing: border-box;
        background-color: rgba(145, 158, 171, 0.16);
        width: 100%;
    }

    .close-btn {
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
    }
</style>
<script type="text/javascript">
    function GetDetailApplicationError(index) {
        $.ajax({
            type: "GET",
            url: "/Home/GetDetailApplicationError",
            data: {
                "index": index,
            },            
            success: function (data) {
                const dataDisplay = JSON.stringify(data)
                document.getElementById("popup-data").innerHTML = dataDisplay;
            }
        });
        document.getElementById("overlay").style.display = "block";
        document.getElementById("popup").style.display = "block";
        showPopup = true;
    }

    document.querySelector(".close-btn").onclick = function () {
        document.getElementById("overlay").style.display = "none";
        document.getElementById("popup").style.display = "none";
        showPopup = false;
    }

    window.onclick = function (event) {
        if (event.target == document.getElementById("popup")) {
            document.getElementById("overlay").style.display = "none";
            document.getElementById("popup").style.display = "none";
            showPopup = false;
        }
    }
</script>