@using APIMonitor.Models
@using HNX.FIXMessage
@using System.Globalization
@using CommonLib;
@model DataMemModel;
@{
	var dataMem = new DataMemModel();
	dataMem.ListAllMsgRejectOnMemory = Model?.ListAllMsgRejectOnMemory ?? new List<MessageReject>();
	dataMem.ListDisplayMsgRejectOnMemory = Model?.ListDisplayMsgRejectOnMemory ?? new List<MessageReject>();
	dataMem.PageIndexRejection = Model?.PageIndexRejection;
	dataMem.PageIndexMaxRejection = Model?.PageIndexMaxRejection;
	var RecordInPage = ConfigData.RecordInPage;
	string FormatDate(string stringDate)
	{
		DateTime utcTime = DateTime.ParseExact(stringDate, "yyyyMMdd-HH:mm:ss", CultureInfo.InvariantCulture);
		TimeZoneInfo vietNamTimeZone = TimeZoneInfo.FindSystemTimeZoneById("SE Asia Standard Time");
		string result = TimeZoneInfo.ConvertTimeFromUtc(utcTime, vietNamTimeZone).ToString("yyyy/MM/dd HH:mm:ss");
		return result;
	}
}
<div class="over-flow-x" style="overflow-y:auto; max-height:200px;max-width:100%">
	<table class="tablelist">
		<thead>
			<tr>
				<th class="number">No</th>
				<th style="text-align:left">Message reject (35=3)</th>
				<th style="text-align:left">Time</th>
				<th style="text-align:left">Rejected Sequence</th>
				<th style="text-align:left">Order No</th>
				<th style="text-align:left">Ref Message Type</th>
			</tr>
		</thead>
		<tbody style="overflow-y:scroll">
			@foreach(var item in dataMem.ListDisplayMsgRejectOnMemory.Select((data, index) => new{data, index}))
			{
				<tr>
					<td class="number text-center">@((Model?.PageIndexRejection - 1) * RecordInPage + item.index + 1)</td>
					<td style="text-align:left; max-width:350px;white-space:break-spaces">@item.data.GetMessageRaw.Replace("",";")</td>
					<td style="text-align:left">@FormatDate(item.data.TimeRecv)</td>
					<td style="text-align:left">@item.data.RefSeqNum</td>
					<td style="text-align:left">@item.data.OrderNo</td>
					<td style="text-align:left">@item.data.RefMsgType</td>
				</tr>
			}
		</tbody>
	</table>
</div>
@if (dataMem != null && dataMem.ListDisplayMsgRejectOnMemory.Count > 0)
{
	<div class="box__action d-flex justify-content-center align-items-center mt-4" style="max-width:90%">
		<span class="px-2">@dataMem.ListDisplayMsgRejectOnMemory.Count bản ghi/trang</span>
		<div class="box__action d-flex px-3">
			<button class="btn btn-link" style="color:#fff" onclick="GetRejectionListByPage(1)">First Page</button>
		</div>
		<div class="box__action d-flex px-3">
			<button class="btn btn-link @(dataMem.PageIndexRejection > 1 ? "" : "disabled")" style="color:#fff" onclick="GetRejectionListByPage(@dataMem.PageIndexRejection - 1)">Previous</button>
		</div>
		<div class="box__action d-flex px-3 mt-2">
			<span>@dataMem.PageIndexRejection/@dataMem.PageIndexMaxRejection</span>
		</div>
		<div class="box__action d-flex">
			<button class="btn btn-link @(dataMem.PageIndexRejection < dataMem.PageIndexMaxRejection ? "" : "disabled")" style="color:#fff" onclick="GetRejectionListByPage(@dataMem.PageIndexRejection + 1)">&gt;</button>
		</div>
		<div class="box__action d-flex">
			<button class="btn btn-link" style="color:#fff" onclick="GetRejectionListByPage(@dataMem.PageIndexMaxRejection)">&gt;&gt;</button>
		</div>
	</div>
}
<style>
	.box__action button:hover{
		text-decoration: none;
	}
	table {
		border-collapse: collapse;
		width:100%;
	}

	th, td {
		padding: 0.25rem;
		border: 1px solid #f0f0f0;
		text-align: left;
	}

	th {
		background: white;
		position: sticky;
		top: 0;
		box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
	}
</style>