@using APIMonitor.Models
@using CommonLib;
@model ApplicationErrorModel
@{
    var applicationError = new ApplicationErrorModel();
    applicationError.ListAllErrors = Model?.ListAllErrors ?? new();
    applicationError.ListDisplayErrors = Model?.ListDisplayErrors ?? new();
    applicationError.PageIndexApplicationError = Model?.PageIndexApplicationError;
    applicationError.PageIndexMaxpplicationError = Model?.PageIndexMaxpplicationError;
    var RecordInPage = ConfigData.RecordInPage;
}
<div class="border-css" style="overflow-y:auto; max-height:80%">
    <table class="tablelist">
        <thead>
            <tr>
                <th>No</th>
                <th>Error</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in applicationError.ListDisplayErrors.Select((data, index) => new { data, index }))
            {
                <tr>
                    <td class="number text-center">@((Model?.PageIndexApplicationError - 1) * RecordInPage + item.index + 1)</td>
                    <td style="text-align:left;white-space:break-spaces;width:200px">@item.data.MethodName - @item.data.ThreadName</td>
                    <td style="text-align:left">
                        <button class="btn btn-link" style="color:#fff" data-id="@item.index" onclick="GetDetailApplicationError('@item.index')">
                            <i class="far fa-eye"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (applicationError != null && applicationError.ListDisplayErrors.Count > 0)
{
    <div class="d-flex" style="bottom:0">
        <span class="mt-4 d-flex justify-content-start align-items-center w-100">@applicationError.ListDisplayErrors.Count bản ghi/trang</span>
        <div class="box__action d-flex justify-content-center align-items-center mt-4">
            <div class="box__action d-flex">
                <button class="btn btn-link" style="color:#fff" onclick="GetListApplicationErrorByPage(1)">&lt;&lt;</button>
            </div>
            <div class="box__action d-flex">
                <button class="btn btn-link @(applicationError.PageIndexApplicationError > 1 ? "": "disabled")"
                        style="color:#fff" onclick="GetListApplicationErrorByPage(@applicationError.PageIndexApplicationError - 1)">
                    &lt;
                </button>
            </div>
            <div class="box__action d-flex px-1 mt-1">
                <span>@applicationError.PageIndexApplicationError/@applicationError.PageIndexMaxpplicationError</span>
            </div>
            <div class="box__action d-flex">
                <button class="btn btn-link @(applicationError.PageIndexApplicationError < applicationError.PageIndexMaxpplicationError ? "" : "disabled")"
                        style="color:#fff" onclick="GetListApplicationErrorByPage(@applicationError.PageIndexApplicationError + 1)">
                    &gt;
                </button>
            </div>
            <div class="box__action d-flex">
                <button class="btn btn-link" style="color:#fff" onclick="GetListApplicationErrorByPage(@applicationError.PageIndexMaxpplicationError)">&gt;&gt;</button>
            </div>
        </div>
    </div>
}

<div id="popup" class="popup">
    <div class="popup-content">
        <span class="close-btn">&times;</span>
        <div id="popup-data"></div>
    </div>
</div>
<style>    
    table {
        text-align: left;
        position: relative;
        border-collapse: collapse;
    }

    tbody tr td button:hover {
        text-decoration: none;
    }
    th, td {
        padding: 0.25rem;
        border: 1px solid #f0f0f0
    }

    th {
        background: white;
        position: sticky;
        top: 0;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    }
    .popup {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .popup-content {
        position: relative;
        background-color: #fff;
        margin: 15% auto;
        padding: 20px;
        width: 70%;
        color:blue;
        white-space:pre-line;
    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    function GetDetailApplicationError(index) {
        $.ajax({
            type: "GET",
            url: "/Home/GetDetailApplicationError",
            data: {
                "index": index,
            },            
            success: function (data) {
                const dataDisplay = JSON.stringify(data)
                document.getElementById("popup-data").innerHTML = dataDisplay;
            }
        });
        document.getElementById("popup").style.display = "block";
    }

    document.querySelector(".close-btn").onclick = function () {
        document.getElementById("popup").style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == document.getElementById("popup")) {
            document.getElementById("popup").style.display = "none";
        }
    }
</script>