@using APIMonitor.Models
@using HNX.FIXMessage
@using CommonLib;
@model DataMemModel;
@{
	var dataMem = new DataMemModel();
	dataMem.ListSearchSecurities = Model?.ListSearchSecurities ?? new();
	dataMem.ListDisplaySecurities = Model?.ListDisplaySecurities ?? new();
	dataMem.PageIndexSecurities = Model?.PageIndexSecurities;
	dataMem.PageIndexMaxSecurities = Model?.PageIndexMaxSecurities;
	var RecordInPage = ConfigData.RecordInPage;
	var dicSecurityTrading = new Dictionary<int, string>()
	{
		{0,"Bình thường"},
		{1,"CK không được giao dịch trong ngày"},
		{2,"Ngừng giao dịch"},
		{6,"huỷ niêm yết"},
		{9,"Chờ giao dịch"},
		{10,"Tạm ngừng"},
		{11,"Hạn chế giao dịch"},
		{25,"Trái phiếu đặc biệt"},
	};
}
<div style="overflow-y:auto; max-height:200px">
	<table class="tablelist">
		<thead>
			<tr>
				<th class="number">No</th>
				<th>Symbol</th>
				<th>Symbol Status</th>
				<th>Outright High Price</th>
				<th>Outright Low Price</th>
				<th>Repos High Price</th>
				<th>Repos Low Price</th>
				<th>Last Price</th>
				<th>High Price</th>
				<th>Low Price</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in dataMem.ListDisplaySecurities.Select((data, index) => new { data, index }))
			{
				<tr>
					<td class="number text-center">@((Model?.PageIndexSecurities - 1) * RecordInPage + item.index + 1)</td>
					<td style="text-align:center">@item.data.Symbol</td>
					<td style="text-align:center">@dicSecurityTrading[item.data.SecurityTradingStatus]</td>
					<td style="text-align:center">@item.data.HighPxOut</td>
					<td style="text-align:center">@item.data.LowPxOut</td>
					<td style="text-align:center">@item.data.HighPxRep</td>
					<td style="text-align:center">@item.data.LowPxRep</td>
					<td style="text-align:center">@item.data.LastPx</td>
					<td style="text-align:center">@item.data.HighPx</td>
					<td style="text-align:center">@item.data.LowPx</td>
				</tr>
			}
		</tbody>
	</table>
</div>
@if (dataMem != null && dataMem.ListDisplaySecurities.Count > 0)
{
	<div class="d-flex">
		<span class="mt-4 d-flex justify-content-start align-items-center w-100">@dataMem.ListDisplaySecurities.Count bản ghi/trang</span>
		<div class="box__action d-flex justify-content-end align-items-center mt-4 w-100">
			<div class="box__action d-flex">
				<button class="btn btn-link" style="color: #fff" onclick="GetSecuritiesListByPage(1)">&lt;&lt;</button>
			</div>
			<div class="box__action d-flex">
				<button class="btn btn-link  @(dataMem.PageIndexSecurities > 1 ? "" : "disabled")" style="color: #fff" onclick="GetSecuritiesListByPage(@dataMem.PageIndexSecurities - 1)">&lt;</button>
			</div>
			<div class="box__action d-flex px-1 mt-1">
				<span>@dataMem.PageIndexSecurities/@dataMem.PageIndexMaxSecurities</span>
			</div>
			<div class="box__action d-flex">
				<button class="btn btn-link @(dataMem.PageIndexSecurities < dataMem.PageIndexMaxSecurities ? "" : "disabled")" style="color: #fff" onclick="GetSecuritiesListByPage(@dataMem.PageIndexSecurities + 1)">&gt;</button>
			</div>
			<div class="box__action d-flex">
				<button class="btn btn-link" style="color: #fff" onclick="GetSecuritiesListByPage(@dataMem.PageIndexMaxSecurities)">&gt;&gt;</button>
			</div>
		</div>
	</div>	
}
<style>
	.box__action button:hover{
		text-decoration: none;
	}
	table {
		text-align: left;
		width:100%;
		border-collapse: collapse;
	}

	th, td {
		padding: 0.25rem;
		border: 1px solid #f0f0f0;
	}
	
	th {
		background: white;
		position: sticky;
		top: 0;
		box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
		z-index:1;
		margin: 0;
	}
</style>